
<div class="list-group">
  <ng-container *ngFor="let user of users">
    <a routerLink="/user/{{(user.uid)}}" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{user.displayName}}</h5>
        <small>{{user.uid}}</small>
      </div>
      <div class="mb-1">
        <div>{{user.gender}}</div>
        <div>{{user.username}}</div>
        <div>{{user.mobile}}</div>
        <div>{{user.membershipTag}}</div>
      </div>
      <small>{{user.recentLoginTime}}</small>
    </a>
 </ng-container>
</div>
