

<div class="auth-page slider-bg-position" style="background:url('assets/images/slide.png')" data-hash="slide1">
  <div class="container page">
    <div class="row">

      <div class="col-md-12 col-xs-12" *ngIf="afReg">
          <div class="text-xs-center">
              <div>Your password has been resetted successfully.</div>
              <a  [routerLink]="['/login']">continue login with new Password!</a>
          </div>
      </div>
      <div class="col-md-6 offset-md-3 col-xs-12"  *ngIf="!afReg">
        <h1 class="text-xs-center">Set Password</h1>
        <list-errors [errors]="errors"></list-errors>
        <form [formGroup]="setpassForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
              <fieldset class="form-group">
                  <input
                  formControlName="encrypt"
                  type="hidden" />
                </fieldset>  
            <fieldset class="form-group">
              <input
                formControlName="newPassword"
                placeholder="New Password"
                class="form-control form-control-lg"
                type="password" />
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="rePassword"
                placeholder="Re-Enter Password"
                class="form-control form-control-lg"
                type="password" />
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!setpassForm.valid" type="submit">
              Update
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>

