
	<div class="item">
      <div class="item-bg">
        <img [src]="imgurl1" class="blur opacity-3">
      </div>
      <div class="p-a-md">
        <div class="row m-t">
          <div class="col-sm-7">
            <a href class="pull-left m-r-md">
              <span class="avatar w-96">
                <img data-name="{{(currentUser.displayName)}}" [src]="imgurl1" class="w-40 img-circle" style="width:100px;height:100px;" alt="...">
                <i class="on b-white"></i>
              </span>
            </a>
            <div class="clear m-b">
              <h3 class="m-a-0 m-b-xs">{{currentUser.displayName}}</h3>
              <small>( {{currentUser.uid}} )</small>
              <p class="text-muted"><span class="m-r"><i class="fa fa-envelope m-r-xs"></i> {{currentUser.username}}</span> <small><i class="fa fa-phone m-r-xs"></i>{{currentUser.mobile}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dker p-x">
      <div class="row">
        <div class="col-sm-6 order-2">
          <div class="p-y text-center text-sm-right">
            <a href="#" class="inline p-x text-center">
              <span class="h4 block m-a-0">2k</span>
              <small class="text-xs text-muted">Followers</small>
            </a>
            <a href="#" class="inline p-x b-l b-r text-center">
              <span class="h4 block m-a-0">{{currentUser.inviteCount}}</span>
              <small class="text-xs text-muted">Invited <span onclick="loadpop('Avail Premium Packs','/admin/pro/allPremiumPacks','url');">Check</span></small>
            </a>
            <a href="#" class="inline p-x text-center">
              <span class="h4 block m-a-0">89</span>
              <small class="text-xs text-muted">Activities</small>
            </a>
          </div>
        </div>
        <div class="col-sm-6 order-1">
          <div class="p-y-md clearfix nav-active-primary">
            <ul class="nav nav-pills nav-sm">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" data-target="#tab_1">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-target="#tab_2">Gallery</a>
              </li>
              <li class="nav-item">
              <a class="nav-link"   (click)="onResetPassPopup()">Reset Password</a>
              </li>
              <li class="nav-item">
              <a class="nav-link"   (click)="onInvitePopup()">Invite</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="padding">
        <div class="row">
            <div class="col-sm-8 col-lg-9">
              <div class="tab-content">
                <div class="tab-pane p-v-sm active" id="tab_1">
                    <div id="accordion" role="tablist" aria-multiselectable="true">

        <div class="row">
            <div class="col-3">
              <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-aboutMe-list" data-toggle="list" href="#list-aboutMe" role="tab" aria-controls="aboutMe">Home</a>
                <a class="list-group-item list-group-item-action" id="list-horoscope-list" data-toggle="list" href="#list-horoscope" role="tab" aria-controls="horoscope">Horoscope</a>
                <a class="list-group-item list-group-item-action" id="list-family-list" data-toggle="list" href="#list-family" role="tab" aria-controls="family">Family</a>
                <a class="list-group-item list-group-item-action" id="list-professional-list" data-toggle="list" href="#list-professional" role="tab" aria-controls="professional">Professional</a>
                <a class="list-group-item list-group-item-action" id="list-location-list" data-toggle="list" href="#list-location" role="tab" aria-controls="location">Location</a>
                <a class="list-group-item list-group-item-action" id="list-life-list" data-toggle="list" href="#list-life" role="tab" aria-controls="life">Life</a>
                <a class="list-group-item list-group-item-action" id="list-preference-list" data-toggle="list" href="#list-preference" role="tab" aria-controls="preference">Preference</a>
              </div>
            </div>
            <div class="col-9">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-aboutMe" role="tabpanel" aria-labelledby="list-aboutMe-list">
                    <div class="box m-1 form-field">
                        <div class="box-header pdot5 info">
                            <h3> About Me </h3>
                            <small>My Details</small>
                            <div class="box-tool">
                            <ul class="nav">
                                <li class="nav-item inline" *ngIf="!contactedit">
                                <a class="nav-link" (click)="onClickEditPage('contact')">
                                     <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                </li>
                                <li class="nav-item inline" *ngIf="contactedit">
                                    <a class="nav-link" (click)="onClickLoadPage('contact')">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav-item inline dropdown" *ngIf="!contactedit">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" (click)="onClickEditPage('contact')">Edit</a>
                                        <div class="dropdown-divider hide"></div>
                                        <span class="dropdown-item hide">Delete</span>
                                    </div>
                                </li>
                            </ul>
                            </div>
                        </div>
                      <div class="box-body">
                          <form id="contactForm">
                             <div #contactContainer class="contactLoad">
                        <div class="card-block" id="basicView" *ngIf="contact!=null">
                            <ng-container *ngFor="let jArr of contactModule">
                                <ng-container *ngIf="jArr.sectionId>0">
                                    <ng-container *ngFor="let cols of jArr.col" >
                                        <div class="col-{{ 12 / (jArr.col?.length) }} column-div">
                                            <ng-container *ngFor="let mf of cols.fields; let x = index" >
                                                  <ng-container *ngIf="mf.isActive==1 && (mf?.view==null || mf?.view=='' || mf?.view=='View')">
                                                    <div class="row">
                                                      <label class="col-sm-3 text-muted">{{mf.label}}</label>
                                                      <div class="col-sm-9 text-capitalize">{{contact[mf.name]}}</div>
                                                     </div>
                                                  </ng-container>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </ng-container>
                              </ng-container>
                              </div>
                              </div>
                              </form>
                      </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-horoscope" role="tabpanel" aria-labelledby="list-horoscope-list">
                    <div class="box m-1 form-field">
                        <div class="box-header pdot5 info">
                            <h3>Horoscope Details</h3>
                            <small>My Horoscope Details</small>
                            <div class="box-tool">
                            <ul class="nav">
                                <li class="nav-item inline" *ngIf="!religionedit">
                                <a class="nav-link" (click)="onClickEditPage('religion')">
                                     <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                </li>
                                <li class="nav-item inline" *ngIf="religionedit">
                                    <a class="nav-link" (click)="onClickLoadPage('religion')">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav-item inline dropdown" *ngIf="!religionedit">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" (click)="onClickEditPage('religion')">Edit</a>
                                        <div class="dropdown-divider"></div>
                                        <span class="dropdown-item" (click)="onHoroscopePopup()">Upload Horoscope</span>
                                    </div>
                                </li>
                            </ul>
                            </div>
                        </div>
                      <div class="box-body">
                          <form id="religionForm">
                              <div #religionContainer class="religionLoad">
                          <div class="card-block" id="ReligionView" *ngIf="religion!=null">
                              <ng-container *ngFor="let jArr of religionModule">
                                  <ng-container *ngIf="jArr.sectionId>0">
                                      <ng-container *ngFor="let cols of jArr.col" >
                                          <div class="col-{{ 12 / (jArr.col?.length) }} column-div">
                                              <ng-container *ngFor="let mf of cols.fields; let x = index" >
                                                  <ng-container *ngIf="mf.isActive==1 && (mf?.view==null || mf?.view=='' || mf?.view=='View')">
                                                      <div class="row">
                                                          <label class="col-sm-3 text-muted">{{mf.label}}</label>
                                                          <div class="col-sm-9 text-capitalize">{{religion[mf.name]}}</div>
                                                      </div>
                                                  </ng-container>
                                              </ng-container>
                                          </div>
                                      </ng-container>
                                  </ng-container>
                                </ng-container>
                                </div>
                                </div>
                              </form>
                          </div>
                          <div id="horoscope" style="text-align: center;position: absolute;width: 100%;bottom: 3px;">
                             <div *ngIf="horoscopeUrl.length==0" (click)="onHoroscopePopup()" class="horoscopecls btn-warning btn-md">Upload Horoscope</div>
                             <div  *ngIf="horoscopeUrl.length>1" class="horoscopeDiv btn-info btn-md" onclick="$('.horoscopeToggle').toggle();">View Horoscope</div>
                             <img [src]="horoscopeUrl" style="max-height:300px;"   class="img-responsive horoscopeToggle">
                          </div>
                      </div>
                </div>

                <div class="tab-pane fade" id="list-family" role="tabpanel" aria-labelledby="list-family-list">
                    <div class="box m-1 form-field">
                        <div class="box-header pdot5 info">
                            <h3> Family Details </h3>
                            <small>Family Details</small>
                            <div class="box-tool">
                            <ul class="nav">
                                <li class="nav-item inline" *ngIf="!familydetailsedit">
                                <a class="nav-link" (click)="onClickEditPage('familydetails')">
                                     <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                </li>
                                <li class="nav-item inline" *ngIf="familydetailsedit">
                                    <a class="nav-link" (click)="onClickLoadPage('familydetails')">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav-item inline dropdown" *ngIf="!familydetailsedit">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" (click)="onClickEditPage('familydetails')">Edit</a>
                                        <div class="dropdown-divider hide"></div>
                                        <span class="dropdown-item hide">Delete</span>
                                    </div>
                                </li>
                            </ul>
                            </div>
                        </div>
                      <div class="box-body">
                          <form id="familydetailsForm">
                              <div #familydetailsContainer class="familydetailsLoad">
                          <div class="card-block" id="FamilyView" *ngIf="family!=null">
                              <ng-container *ngFor="let jArr of familyDetailsModule">
                                  <ng-container *ngIf="jArr.sectionId>0">
                                      <ng-container *ngFor="let cols of jArr.col" >
                                          <div class="col-{{ 12 / (jArr.col?.length) }} column-div">
                                              <ng-container *ngFor="let mf of cols.fields; let x = index" >
                                                    <ng-container *ngIf="mf.isActive==1 && (mf?.view==null || mf?.view=='' || mf?.view=='View')">
                                                        <div class="row">
                                                            <label class="col-sm-3 text-muted">{{mf.label}}</label>
                                                            <div class="col-sm-9 text-capitalize">{{family[mf.name]}}</div>
                                                        </div>
                                                    </ng-container>
                                              </ng-container>
                                          </div>
                                      </ng-container>
                                  </ng-container>
                                </ng-container>
                                </div>
                            </div>
                          </form>
                      </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-professional" role="tabpanel" aria-labelledby="list-professional-list">
                    <div class="box m-1 form-field">
                        <div class="box-header pdot5 info">
                            <h3> Professional Details </h3>
                            <small>Professional Details</small>
                            <div class="box-tool">
                            <ul class="nav">
                                <li class="nav-item inline" *ngIf="!professionalinformationedit">
                                <a class="nav-link" (click)="onClickEditPage('professionalinformation')">
                                     <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                </li>
                                <li class="nav-item inline" *ngIf="professionalinformationedit">
                                    <a class="nav-link" (click)="onClickLoadPage('professionalinformation')">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    </a> 
                                </li>
                                <li class="nav-item inline dropdown" *ngIf="!professionalinformationedit">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" (click)="onClickEditPage('professionalinformation')">Edit</a>
                                        <div class="dropdown-divider hide"></div>
                                        <span class="dropdown-item hide">Delete</span>
                                    </div>
                                </li>
                            </ul>
                            </div>
                        </div>
                      <div class="box-body">
                          <form id="professionalinformationForm">
                              <div #professionalinformationContainer class="professionalinformationLoad">
                          <div class="card-block" id="ProfessionView" *ngIf="profession!=null">
                              <ng-container *ngFor="let jArr of professionalinformationModule">
                                  <ng-container *ngIf="jArr.sectionId>0">
                                      <ng-container *ngFor="let cols of jArr.col" >
                                          <div class="col-{{ 12 / (jArr.col?.length) }} column-div">
                                              <ng-container *ngFor="let mf of cols.fields; let x = index" >
                                                    <ng-container *ngIf="mf.isActive==1 && (mf?.view==null || mf?.view=='' || mf?.view=='View')">
                                                        <div class="row">
                                                            <label class="col-sm-3 text-muted">{{mf.label}}</label>
                                                            <div class="col-sm-9 text-capitalize">{{profession[mf.name]}}</div>
                                                        </div>
                                                    </ng-container>
                                              </ng-container>
                                          </div>
                                      </ng-container>
                                  </ng-container>
                                </ng-container>
                                </div>
                                </div>
                              </form>
                      </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-location" role="tabpanel" aria-labelledby="list-location-list">
                    <div class="box m-1 form-field">
                        <div class="box-header pdot5 info">
                            <h3> Location Details </h3>
                            <small>Location Details</small>
                            <div class="box-tool">
                            <ul class="nav">
                                <li class="nav-item inline" *ngIf="!locationdetailsedit">
                                <a class="nav-link" (click)="onClickEditPage('locationdetails')">
                                     <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                </li>
                                <li class="nav-item inline" *ngIf="locationdetailsedit">
                                    <a class="nav-link" (click)="onClickLoadPage('locationdetails')">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav-item inline dropdown" *ngIf="!locationdetailsedit">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" (click)="onClickEditPage('locationdetails')">Edit</a>
                                        <div class="dropdown-divider"></div>
                                        <span class="dropdown-item">Delete</span>
                                    </div>
                                </li>
                            </ul>
                            </div>
                        </div>
                          <div class="box-body">
                              <form id="locationdetailsForm">
                                  <div #locationdetailsContainer class="locationdetailsLoad">
                              <div class="card-block" id="LocationView" *ngIf="location!=null">
                                  <ng-container *ngFor="let jArr of locationdetailsModule">
                                      <ng-container *ngIf="jArr.sectionId>0">
                                          <ng-container *ngFor="let cols of jArr.col" >
                                              <div class="col-{{ 12 / (jArr.col?.length) }} column-div">
                                                  <ng-container *ngFor="let mf of cols.fields; let x = index" >
                                                        <ng-container *ngIf="mf.isActive==1 && (mf?.view==null || mf?.view=='' || mf?.view=='View')">
                                                            <div class="row">
                                                                <label class="col-sm-3 text-muted">{{mf.label}}</label>
                                                                <div class="col-sm-9 text-capitalize">{{location[mf.name]}}</div>
                                                            </div>
                                                        </ng-container>
                                                  </ng-container>
                                              </div>
                                          </ng-container>
                                      </ng-container>
                                    </ng-container>
                                    </div>
                                </div>
                          </form>
                      </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-life" role="tabpanel" aria-labelledby="list-life-list">
                    <div class="box m-1 form-field">
                        <div class="box-header pdot5 info">
                            <h3> Life Style </h3>
                            <small>Life Style</small>
                            <div class="box-tool">
                            <ul class="nav">
                                <li class="nav-item inline" *ngIf="!lifestyleedit">
                                <a class="nav-link" (click)="onClickEditPage('lifestyle')">
                                     <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                </li>
                                <li class="nav-item inline" *ngIf="lifestyleedit">
                                    <a class="nav-link" (click)="onClickLoadPage('lifestyle')">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav-item inline dropdown" *ngIf="!lifestyleedit">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" (click)="onClickEditPage('lifestyle')">Edit</a>
                                        <div class="dropdown-divider hide"></div>
                                        <span class="dropdown-item hide">Delete</span>
                                    </div>
                                </li>
                            </ul>
                            </div>
                        </div>
                      <div class="box-body">
                          <form id="lifestyleForm">
                              <div #lifestyleContainer class="lifestyleLoad">
                          <div class="card-block" id="LifeStyleView" *ngIf="lifestyle!=null">

                              <ng-container *ngFor="let jArr of lifestyleModule">
                                  <ng-container *ngIf="jArr.sectionId>0">
                                      <ng-container *ngFor="let cols of jArr.col" >
                                          <div class="col-{{ 12 / (jArr.col?.length) }} column-div">
                                              <ng-container *ngFor="let mf of cols.fields; let x = index" >
                                                    <ng-container *ngIf="mf.isActive==1 && (mf?.view==null || mf?.view=='' || mf?.view=='View')">
                                                        <div class="row">
                                                            <label class="col-sm-3 text-muted">{{mf.label}}</label>
                                                            <div class="col-sm-9 text-capitalize">{{lifestyle[mf.name]}}</div>
                                                        </div>
                                                    </ng-container>
                                              </ng-container>
                                          </div>
                                      </ng-container>
                                  </ng-container>
                                </ng-container>
                          </div>
                        </div>
                      </form>
                      </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-preference" role="tabpanel" aria-labelledby="list-preference-list"><div class="box m-1 form-field">
                    <div class="box-header pdot5 info">
                        <h3> Preference </h3>
                        <small>My Preference</small>
                        <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline" *ngIf="!preferenceedit">
                            <a class="nav-link" (click)="onClickEditPage('preference')">
                                 <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            </li>
                            <li class="nav-item inline" *ngIf="preferenceedit">
                                <a class="nav-link" (click)="onClickLoadPage('preference')">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="nav-item inline dropdown" *ngIf="!preferenceedit">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" (click)="onClickEditPage('preference')">Edit</a>
                                    <div class="dropdown-divider hide"></div>
                                    <span class="dropdown-item hide">Delete</span>
                                </div>
                            </li>
                        </ul>
                        </div>
                    </div>
                  <div class="box-body">
                      <form id="preferenceForm">
                          <div #preferenceContainer class="preferenceLoad">
                      <div class="card-block" id="pbasicView" *ngIf="prefContact==null">
                          Preference not found
                         </div>
                     <div class="card-block" id="pbasicView" *ngIf="prefContact!=null">

                         <ng-container *ngFor="let jArr of prefContactModule">
                             <ng-container *ngIf="jArr.sectionId>0">
                                 <ng-container *ngFor="let cols of jArr.col" >
                                     <div class="col-{{ 12 / (jArr.col?.length) }} column-div">
                                         <ng-container *ngFor="let mf of cols.fields; let x = index" >
                                               <ng-container *ngIf="mf.isActive==1 && (mf?.view==null || mf?.view=='' || mf?.view=='View')">
                                                 <div class="row">
                                                   <div class="col-3">{{mf.label}}</div>
                                                   <div class="col-9 text-capitalize">{{prefContact[mf.name]}}</div>
                                                 </div>
                                               </ng-container>
                                         </ng-container>
                                     </div>
                                 </ng-container>
                             </ng-container>
                           </ng-container>

                     </div>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
          </div>
         </div>
               <div class="tab-pane p-v-sm" id="tab_2">
                      <div class="row">
                            <div class="col-3" (click)="onClickPopup(1)">
                                <div class="box p-a-xs">
                                <a><img [src]="imgurl1" alt="" class="img-responsive"></a>
                                <!-- <div class="p-a-sm">
                                    <div class="text-ellipsis">Skyline collection</div>
                                </div> -->
                                </div>
                            </div>
                            <div class="col-3" (click)="onClickPopup(2)">
                                <div class="box p-a-xs">
                                <a><img [src]="imgurl2" alt="" class="img-responsive"></a>
                                <!-- <div class="p-a-sm">
                                    <div class="text-ellipsis">Skyline collection</div>
                                </div> -->
                                </div>
                            </div>
                            <div class="col-3" (click)="onClickPopup(3)">
                                <div class="box p-a-xs">
                                <a><img [src]="imgurl3" alt="" class="img-responsive"></a>
                                <!-- <div class="p-a-sm">
                                    <div class="text-ellipsis">Skyline collection</div>
                                </div> -->
                                </div>
                            </div>
                            <div class="col-3" (click)="onClickPopup(4)">
                                <div class="box p-a-xs">
                                <a><img [src]="imgurl4" alt="" class="img-responsive"></a>
                                <!-- <div class="p-a-sm">
                                    <div class="text-ellipsis">Skyline collection</div>
                                </div> -->
                                </div>
                            </div>
                            <div class="col-3" (click)="onClickPopup(5)">
                                <div class="box p-a-xs">
                                <a><img [src]="imgurl5" alt="" class="img-responsive"></a>
                                <!-- <div class="p-a-sm">
                                    <div class="text-ellipsis">Skyline collection</div>
                                </div> -->
                                </div>
                            </div>
                            <div class="col-3" (click)="onClickPopup(6)">
                                <div class="box p-a-xs">
                                <a><img [src]="imgurl6" alt="" class="img-responsive"></a>
                                <!-- <div class="p-a-sm">
                                    <div class="text-ellipsis">Skyline collection</div>
                                </div> -->
                                </div>
                            </div>
                            <div class="col-3" (click)="onClickPopup(7)">
                                <div class="box p-a-xs">
                                <a><img [src]="imgurl7" alt="" class="img-responsive"></a>
                                <!-- <div class="p-a-sm">
                                    <div class="text-ellipsis">Skyline collection</div>
                                </div> -->
                                </div>
                            </div>
                      </div>
                </div>
              </div>
           </div>
        </div>
    </div>


